deepgram_sdk==3.2.7
google_api_python_client==2.129.0
google_auth_oauthlib==1.2.0
groq==0.5.0
openai==1.28.1
playwright==1.43.0
protobuf==5.26.1
python-dotenv==1.0.1
Requests==2.31.0
supabase==2.4.5
websockets==12.0
